</br>

<h3 class="title is-3">All Problem Sets are in the Navbar</h3>

<h4 class="title is-4">
  <a class="button is-danger" href="<%= new_user_registration_path %>">Sign Up</a>
     or
  <a class="button is-primary" href="<%= new_user_session_path %>">Sign In</a>
  to try
  <span style="color:royalblue">
    Projectify! A Project Management App
  </span>
  </br></h4>

<h4 class="subtitle">**Note: Still in development</h4>

<center>
  <%= image_tag("/images/web03team.png") %>
</center>


