<h2>Zero Division Error Stack Trace</h2>

<%= 0/0 %>
<p>   
This Error stack was displayed by setting "config.consider_all_requests_local = true" in the "config/environments/production.rb" file.
</br>
</p>  
