<div class="alert alert-primary" role="alert">
  <b>Tour the other projects being developed by two other teams. For each project, understand what the
    system is trying to do and what the data model is. Register yourself as a user and content author.
    Working with your partners, write a critique of each of the other teams’ projects. Try to check that
    the data model proposed by the team is sufficient for what they are trying to do. Check that their
    auth+auth system is reasonable. Check that the look, feel, and navigation is useful. Check that the
    user is able to do what he/she would like to do in the community. Sign your critique with the name of
    your project team and also the names of all team members. Email it to the team members, archive in
    a file, and make available on your server.</b>
</div>

<div class="alert alert-success" role="alert">
  <span style="color: black">
    <b><u>Web 08</u></b><br>
    1. <b>Design:</b> The design is simple but very basic. More CSS and bootstrap/bulma can be added to make the website look better.<br>
    2. <b>Navigation:</b> Although the home page shows links to all pages, the other pages do not have links to go back to other pages or navigate through. It can be made better by adding a navbar or using a hyperlink bookmark structure.<br>
    3. <b>Login/Registration:</b> It was simple devise form. Straight forward and simple.<br>
    4. <b>URL_Names:</b>  All URLs had similar structure. The names could be made easier to understand. I think the routes can be set up in such a way that the have a single parent. Example: web8.cs.ait.ac.th/ps2 instead of web8.cs.ait.ac.th/stocks/solution.pdf<br>
    5. <b>Project's Basic Functionality:</b> Sign In/ Sign Up was simple as mentioned before. There was no other functionality or use case in the website to test the project.<br>


    <br>
    <b style="color: red"><u>Web 6</u>: Team Doesn't exist.</b>

  </span>
</div>



<div class="alert alert-primary" role="alert">
  <b>Get feedback on your system from a member of the target user community who is not in our class. If
    you’re building a system for a company, get a person in the company who will be using your system
    to evaluate your skeletal system.</b>
</div>

<div class="alert alert-success" role="alert">
  <span style="color: black">
    <b><u>Vamshi Puttakota (st121361)</u></b><br>
    1. <b>Design:</b> It is simple and minimalistic. Looks good. Mobile design can be better. Mobile navbar menu doesn't show up properly.<br>
    2. <b>Navigation:</b> Easy to navigate using navbar.<br>
    3. <b>Login/Registration:</b> Simple forms without complicated requirements.<br>
    4. <b>URL_Names:</b> Apt and easy to understand.<br>
    5. <b>Project's Basic Functionality:</b> Simple application to use. Easy to add teams and projects with the buttons provided. I was confused and did not know that I will have to create a team before creating a project. That should be clearly mentioned.<br>
  </span>
</div>



<div class="alert alert-primary" role="alert">
  <b>Write a brief summary of the the criticism you’ve received and an action plan for how you will address
    that criticism in the next version of your system. Post this with the feedback transcripts to your Web
    site.</b>
</div>

<div class="alert alert-success" role="alert">
  <span style="color: black">
    <b>Feedback from Web 5:</b><br>
    - Design: Design is nice, could use a padding on the left side for certain pages e.g login
    and ps1,ps2. Also, Font size is different for ps1, ps2 and ps3 to ps6, font size could be
    consistent for all the pages.
    <br>- Navigation: Navigation looks good, no repetitive links for the same page.
    <br>- Project functions: Creating a project without a team is not allowed means that project
    authorization might work fine, but seems like team creation functionality is not working
    properly, so we cannot try anything further. The project idea is awesome, it sure will help
    in project management as a team if it is successfully developed to have features that you
    need.
    <br>- User logins: Forgot password functionality is not working yet. Login and signup process
    takes more time. Sometimes observed that the script keeps loading after the page is
    displayed for a long time until manually stop from refresh.
    <br><br>
    From the feedback I received from Web5 and the user evaluation, I would like to improve as mentioned below:<br>
    1. <b>Design:</b> Add padding on left side and make font size consistent for all pages as mentioned in the feedback. Improve the mobile menu by identifying and testing the features that don't work the same way on mobile.<br>
    2. <b>Navigation:</b> Navigation received good feedback. Probably no changes.<br>
    3. <b>Login/Registration:</b> Add forgot password functionality. Add login with username instead of login with email for faster login.<br>
    4. <b>URL_Names:</b> No changes.<br>
    5. <b>Project's Basic Functionality:</b> Make the teams + project functionality step clear by ordering the sequence on homepage or displaying warning messages to create a team before project.<br>
  </span>
</div>



<div class="alert alert-primary" role="alert">
  <b></b>
</div>

<div class="alert alert-success" role="alert">
  <span style="color: black">
  </span>
</div>
