<% if notice || alert %>
  <script>
      window.onload = function(){
          var hideMe = document.getElementById('hideMe');
          document.onclick = function(e){
              if(e.target.id !== 'hideMe'){
                  hideMe.style.display = 'none';
              }
          };
      };
  </script>
  <div id="hideMe" class="flash-message
  <%= notice ? "notice" : ""%>
  <%= alert ? "error" : ""%>">
    <div class="container container_12 clearfix">
      <div class="grid_12">
        <% if notice %> <p><%= notice %></p>
        <% elsif alert %> <p><%= alert %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>